.fixed-title {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  background-color: black;
  padding: 10px 20px;
  width: 100%;
  text-align: center;
  font-size: 3em;
  color: white;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.score-board {
  margin-top: 4rem; /* Ajustar el margen superior */
  color: white;
  font-size: 1.5em;
  align-self: flex-start; /* Alinear a la izquierda */
  margin-left: 20px; /* Margen izquierdo para separación */
}

.image-container {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px; /* Espacio entre tarjetas */
}

.flip-card {
  background-color: transparent;
  perspective: 1000px;
  cursor: pointer;
}

.flip-card-inner {
  position: relative;
  width: 150px;
  height: 150px;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card.flipped .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #030101;
  border: 2px solid #fff;
  border-radius: 10px;
}

.flip-card-back {
  background-color: #000;
  border-radius: 10px;
  transform: rotateY(180deg);
}

.flip-card-back img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

/* Responsividad */
@media (max-width: 768px) {
  .score-board {
    font-size: 1.2em; /* Ajustar tamaño de fuente */
    margin-top: 2rem; /* Ajustar margen superior */
    margin-left: 10px; /* Margen izquierdo para separación */
  }

  .image-container {
    margin-top: 2rem; /* Ajustar el margen superior */
  }
}

@media (max-width: 480px) {
  .score-board {
    font-size: 1em; /* Ajustar tamaño de fuente para pantallas pequeñas */
  }

  .image-container {
    margin-top: 1rem; /* Ajustar el margen superior */
  }
}